.red {
  color: red;
}

.blue{
  color: blue;
}

.img{
  width: 400px;
  height: 300px;
  margin-top: 20px;
  background-image: url('https://images.unsplash.com/photo-1618001030955-072fba9625b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: contain;
}

